@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'cambria';
    display: grid;
    place-content: center;
    color: white;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right,#9664bb 0%, #6f37a4 20%,
    #95289b 40%, #fe7098 60%, #f973d2 80%);
    background-size: 200% 200%;
    animation: movimiento 5s linear infinite alternate;
}

/* Clients */
.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card1{
    background-color: #2e74ba99;
    display: flex;
    width: 46%;
    height: 400px;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
    font-size: 0.9em;
}
.card1 h1{
    color: yellow;
    font-size: 1.5em;
}
.cards .card1 > .contenido-texto-card{
    width: 50%;
    color: #ffffff;
    font-size: 1.1em;
}

.cards .card1 > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
/*  Our team */
.about-services{
    background: #ee7b51;
    padding-bottom: 30px;
}
.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    height: 50;

}
.servicio-ind{
    width: 50%;
    text-align: center;
}
.servicio-in{
    width: 50%;
    padding-left: 300px;;
}


@keyframes movimiento {
    from{
        background-position: 0 0;
    }to{
        background-position: 100% 100%;
    }
    
}

.fuente{
    display: flex;
    justify-content: space-evenly;
    position:absolute;
    top:1550px;
    left: 180px;    
}

.fuente .fuente1{
    background-color: #ba722e99;
    display: flex;
    width: 80%;
    height: 200px;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
    font-size: 0.8em;
}
.fuente1 h1{
    color: rgb(195, 255, 0);
    font-size: 2em;
}
.fuente .fuente1 > .contenido-texto-fuente{
    width: 60%;
    color: #ffffff;
    font-size: 1.1em;
}

.fuente .fuente1 > .contenido-texto-fuente p{
    font-weight: 300;
    padding-top: 5px;
}
/* monumento */
.monu{
    display: flex;
    justify-content: space-evenly;
    position:absolute;
    top:1600px;
    right: 200px;   
}

.monu .monu1{
    background-color: #2eba2e99;
    display: flex;
    width: 70%;
    height: 200px;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
    font-size: 0.9em;
}
.monu1 h1{
    color: yellow;
    font-size: 1.5em;
}
.monu .monu1 > .contenido-texto-monu{
    width: 60%;
    color: #ffffff;
    font-size: 1.1em;
}

.monu .monu1 > .contenido-texto-monu p{
    font-weight: 300;
    padding-top: 5px;
}
/* caseta */
.casa{
    display: flex;
    justify-content: space-evenly;
    position:absolute;
    top:1850px;
    left: 400px;   
}

.casa .casa1{
    background-color: #2e74ba99;
    display: flex;
    width: 50%;
    height: 200px;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
    font-size: 0.9em;
}
.casa1 h1{
    color: rgb(0, 251, 255);
    font-size: 1em;
}
.casa .casa1 > .contenido-texto-casa{
    width: 60%;
    color: #ffffff;
    font-size: 1.1em;
}

.casa .casa1 > .contenido-texto-casa p{
    font-weight: 300;
    padding-top: 5px;
}

/**************************************/
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
nav{
    background-color: #75c8ecb9;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #660a0a;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 13px;
    text-transform: uppercase;
text-align: justify;
}
li a.active, li a:hover{
    background-color: #39053b;
    color: #fff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width:952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:852px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #4e7892ea;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #f7c8e9;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .cards .card1 > .contenido-texto-card p{
        font-size: 0.63em;
    }
    .card1 h1{
        color: yellow;
        font-size: 1em;
    }

}
.titulo {
    color: #0c0648;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.textos-header{
    float: left;
    height: 430px;
    width: 80%;
    padding: 30px 0 60px 0;
}
.textos-header h1{
    font-size: 2em;
    color:#660a0a;
}
.textos-header h3{
    font-size: 20px;
    font-weight: 300;
    color:#fff;
}
.textos-header p{
    background-color:transparent;
    display: flex;
    width: 48%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 0 0 6px 0 rgba(239, 238, 246, 0.6);
    font-size: 1em;
    color: #ebe08b;

}
.parrafo{
    width: 100%;
    height: 150px;
    padding-left: 800px;
}
.parrafo p{
    color: rgb(255, 255, 255);
    font-family: Cambria;
    padding-right: 100px;
    justify-content: center; 
}
.pag{
color:rgb(255, 145, 0); 
background-color: skyblue;
}
.textos-header h2{
    color: #fff;
    font-family: Cambria;
    justify-content: center;
    padding: center;
    font-size: 2em;
    }
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* About us */
main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}
.imagen-abo{
    width: 48%;
}
.imagen-about-us{
    width: 48%;
    height: 20%;
}
.imagen-pinqui{
    width: 48%;
    height: 20%;   
}
.sobre-nosotros .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: #062086;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
/*animate*/


@media screen and (max-width:900px){

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .cards .card:first-child{
        margin-bottom: 80px;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 80%;
    }

    .imagen-about-us{
        width: 90%;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }
}