@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    height: 50%;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    background: #bdc3c7;  /* fallback for old browsers */
    background:linear-gradient(to right, hsla(255, 92%, 10%, 0.697), hsla(300, 82%, 36%, 0.621)), url(https://cdn.glitch.global/bfabbb42-3b9a-4100-b838-8c3dc9d93851/fuente.jpg?v=1692298972367);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
header {
    background-color: #77a7ec;
}
nav{
    background-color: #e5dc7c7d;
    height: 80px;
    width: 200%;
    position:absolute;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #071669;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 13px;
    text-transform: uppercase;
text-align: justify;
font-weight: bold;
}
li a.active, li a:hover{
    background-color: #05353b;
    color: rgb(255, 255, 255);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width:952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:852px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #4e7892ea;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #f7c8e9;
    }
    #check:checked ~ ul{
        left: 0;
    }
  }
.fuente{
    display: flex;
    justify-content: space-evenly;
    position:absolute;
    top:200px;
    left: 50px;    
}

.fuente .fuente1{
    background-color: #2eba2e99;
    display: flex;
    width: 90%;
    height: 350px;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
    font-size: 0.7em;
}
.fuente1 h1{
    color: rgb(195, 255, 0);
    font-size: 2em;
}
.fuente .fuente1 > .contenido-texto-fuente{
    width: 60%;
    color: #ffffff;
    font-size: 1.3em;
}

.fuente .fuente1 > .contenido-texto-fuente p{
    font-weight: 300;
    padding-top: 5px;
}

.efecto{
    position: relative;
    width: 50%;
    height: 350px;
    top: 30px;
    left: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    background-image: url(https://cdn.glitch.global/bfabbb42-3b9a-4100-b838-8c3dc9d93851/20231122_174826.jpg?v=1701253483341);
}
.efecto .overlay {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:350px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color .4s;
}
.efecto a:hover .overlay {
    background:linear-gradient(457deg, #843939c6, #cc6e6eb7, #efb2b29f);
    border-radius: 50px;
}
.efecto .overlay h2 {
    transform: translate3d(0, -60px, 0);
    color: transparent;
}  
.efecto .overlay p {
    transform: translate3d(0, 60px, 0);   
    color: transparent;
    }
.efecto a:hover .overlay-inner * {
        opacity: 1;
        visibility: visible;
        transform: none;
        transition: all .3s .3s;
        color: rgb(255, 255, 255);
    }
@media screen and (max-width:900px){
    header{
        background-position: center;
    }   
    body{
        background-position: center;
    }  
}